@model IEnumerable<pracMvc.Models.blueMap_Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.schoolNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCount1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratio1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCount2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratio2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCount3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratio3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCount4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratio4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.schoolNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCount1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratio1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCount2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratio2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCount3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratio3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCount4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratio4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sort)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.intID }) |
            @Html.ActionLink("Details", "Details", new { id=item.intID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.intID })
        </td>
    </tr>
}

</table>
